* {
    /*outline: 1px red solid;*/
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;

    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}
/* the navigation bar style */
nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.showNavBar {
    width: 50px;
    height: 50px;
    margin-top: 25px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    background-color: #d9d9d9;
}
.navBar {
    width: 0px;
    height: 50px;
    padding: 7px;
    margin-top: 25px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    background-color: #d9d9d9;
    transition: all ease 1s;
}
/* the bavBar buttons*/
.XO {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;

    background-color: #b3b3b3;
    transition: all ease 0.5s;
    transform: rotate(45deg);
}
.XO:hover {
    background-color: transparent;
    cursor: pointer;
}
.button {
    visibility: hidden;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
}
.button:hover {
    background-color: #b3b3b3;
}
/* the main sections style*/
section {
    /*display: none;*/ /*modified*/
    width: 95vw;  
    height: 900px;  /*modified*/
    flex-direction: column;
    align-items: center;
    margin: 15px 0px;
    padding: 0 15px;
    border-radius: 30px;

    background-color: #d9d9d9;
    transition: all 1s ease;
}
.title {
    /*visibility: hidden;*/   /*modified*/
    width: 100px;
    height: 40px;
    overflow: hidden;
}
h3 {
    height: 20px;
    position: relative;
    top: 15px;

    transition: all 0.4s ease;
}
.content {
    /*visibility: hidden;*/   /*modified*/
}
.content-text {
    position: relative;
    top: 10px;

    transition: all 0.4s ease;
}
.list {
    /*visibility: hidden;*/   /*modified*/
    position: relative;
    right: 20px;

    transition: all 0.4s ease;
}

/* the floating Image :*/
.image-container {
    width: 300px;
    height: 200px;

    border: 1px grey solid;
    overflow: hidden;
}
.image-content {
    position: relative;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;

    width: 300px;
    height: 200px;

    transition: 0.2s all ease;
}
.image-border {
    position: relative;
    top: -204px;
    left: 0px;
    right: 0px;
    bottom: 0px;

    width: 300px;
    height: 200px;

    border: 35px #d9d9d9 solid;
}


.pivot {
    width: 200px;
    height: 200px;

    border: 1px red solid;
    background-color: aqua;

    overflow: hidden;
}

.back {
    position: relative;
    left: 0px;
    width: 200px;
    height: 200px;

    background-color: black;
    border-top-left-radius: 0%;

    transition: all 0.5s ease;
}

.menu {
    position: relative;
    top: -200px;
    right: -150px;

    cursor: pointer;
}